.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0,.3);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    &.active {
        opacity: 1;
        pointer-events: all;
        z-index: 999;
    }
   .modal__content {
        width: max-content;
        height: max-content;
        margin: auto;
        padding: 20px;
        display: grid;
        transform: scale(0.8);
        background-color: #fff;
        transition: all .3s;
        * {
            margin: 4px 0;
        }
        &.active {
            transform: scale(1);
        }
    }
}