@import '@/app/assets/styles/variables.scss';

.product_item {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    line-height: 1.2;
    * {
        margin: 3px;
    }
    div {
        margin: 0 auto;
        text-align: center;
    }
    .product_item__info {
            img {
                height: 250px;
            }
    }
    .product_item__cart {
        width: 90%;
        margin: 10px auto;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        background-color: $prod-list_color;
        * {
            margin: 5px;
        }
    }
}

@media (max-width: 960px) {
    .product_item {
        grid-template-columns: 1fr;
        .product_item__cart {
            button {
                width: 50%;
            }
        }
    }
}