
.flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.w100 {
    width: 100%;
}

.cw {
    * {
    color: white;
    }
}

.cb {
    * {
        color: #000
    }
}

.tdnone {
    text-decoration: none;
}

.abs {
    position: absolute;
}

.x-center {
    margin: 0 auto
}
