.sort_menu {
    position: relative;
    width: 100vw;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
        .sort_menu_content {
            margin: 5px auto;
            padding: 10px;
            justify-content: center;
            align-items: center;
        }
}

@media (max-width: 800px) {
    .sort_menu {
        margin: 0 auto;
        max-width: 90vw !important;
        padding: 0 5px;
        .sort_menu_content {
            margin: 5px 0;
        }
    }
}