.products_main {
    position: relative;
    margin: 10px auto;
    display: grid;
    text-align: center;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}